<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Restore</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif; background-color: #ffffff; color: #333;">

<!-- Header -->
<table style="width: 100%; padding: 12px 35px; background-color: #ffe066; box-sizing: border-box;">
  <tr>
    <td style="font-size: 22px; text-align: left; color: #1a1a1a;">
      <b>LOGO</b>
    </td>
    <td style="text-align: right;">
      <img style="width: 50px; height: 50px;" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="icon">
    </td>
  </tr>
</table>

<!-- Main content -->
<table style="width: 100%; padding: 45px 35px; box-sizing: border-box;">
  <tr>
    <td style="font-size: 20px; text-align: center; color: #1a1a1a;">
      Do not worry, your password is under control!
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="margin: 20px 0 15px;">You need to restore password, please click on the button below</p>
      <a href="{{frontUrl}}/password/restore?token={{actionToken}}"
      style="background-color: #4d91ff; color: white; padding: 10px 25px; border-radius: 5px; text-decoration: none; font-weight: bold;">
      RESTORE PASSWORD
      </a>
    </td>
  </tr>
</table>

<!-- Footer -->
<table style="width: 100%; padding: 15px 35px; background-color: #ffe066; box-sizing: border-box;">
  <tr>
    <td style="font-size: 14px; text-align: center; color: #1a1a1a;">
      MyCorp - Copyright © 2023
    </td>
  </tr>
  <tr>
    <td style="font-size: 11px; text-align: center;">
      <a href="#" style="color: #4d91ff; text-decoration: underline;">click here</a>
    </td>
  </tr>
</table>

</body>
</html>
