.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    margin: 0 auto 30px;
}

.healing {
    text-align: center;
}

.carouselContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    width: 100%;
}

.containerItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
    width: 100%;
    max-width: 1100px;
    margin: 20px 0;
}

.furnitureItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s linear;
    text-align: center;
    width: 100%;
    max-width: 320px;
}

.furnitureItem:hover {
    transform: translateY(-2px);
}

.furnitureItem h2, .furnitureItem h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.furnitureItem p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.buyButton {
    padding: 10px 20px;
    background-color: #005aa7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.roundedButton {
    display: inline-block;
    padding: 15px 35px;
    font-size: 14px;
    color: white;
    background: #00a2ff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin: 40px auto 0;
    text-align: center;
}

.roundedButton:hover {
    transform: translateY(-0.9px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
}


